<ion-header>
  <ion-toolbar color="success">
    <ion-title text-center>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/printer.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Welcome to our Shop</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Selamat datang di PRINTER-RUSAK.COM, disini kami menyediakan berbagai macam printer dari yang baru hingga yang rusak</p>
      </ion-card-content>
    </ion-card>
	
	  <ion-button color="success" expand="block" routerLink="/tab2" routerDirection="root" fill="outline">LOGIN</ion-button>
	  <p></p>
	  <ion-button color="success" expand="block" routerLink="/tab3" routerDirection="root" fill="outline">PRODUCT</ion-button>
	  
</ion-content>

<ion-footer>
	<ion-toolbar color="success">
		<ion-title text-center>PRINTER-RUSAK.COM</ion-title>
	</ion-toolbar>
</ion-footer>
